@import "~bootstrap/dist/css/bootstrap.css";

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

.contain {
  position: relative;
  left: 5rem;
  top: 1rem;
}
.display5 {
  font-weight: bold;
}
div.form-group label, div.form-group input, div.form-group textarea {
  font-size: 2rem;
  position: relative;
  left: 1rem;
  margin: 0.25rem 0.25rem 0;
}
#submitButton {
  font-size: 2rem;
  position: relative;
  left: 2rem;
  top: 1rem;
}
#viewButton {
  font-size: 2rem;
  position: relative;
  top: 1rem;
  left: 3rem;
}
table {
  width: 80%;
  margin: auto;
}
div.mealSection h5 {
  text-align: center;
  margin-bottom: 1rem;
  font-weight: bold;
}
th {
  text-align: left;
}

table, th, td {
  border: 0.1rem solid #000;
  border-collapse: collapse;
}

th, td {
  padding: 0.5rem;
}

tr:nth-child(even) {
  background-color: #fff;
}
tr:nth-child(odd) {
  background-color: #ddd;
}

i {
  color: green;
  font-size: 3rem;
}
i:visited {
  color: purple;
}
